# Ultralytics requirements
# Example: pip install -r requirements.txt

# Base ----------------------------------------
matplotlib==3.2.2
numpy==1.22.2 # pinned by Snyk to avoid a vulnerability
opencv-python==4.8.0.76
opencv-contrib-python==4.8.0.76
pillow==10.0.0
pyyaml==6.0.1
requests==2.31.0
scipy==1.10.0
torch==2.0.1
torchvision==0.15.2
tqdm==4.66.1

pandas==2.1.0
seaborn==0.12.2
imutils==0.5.4

ultralytics==8.0.170

psutil  # system utilization
py-cpuinfo  # display CPU info
thop  # FLOPs computation
